<a id='Map_Function'></a>
### Map Function

- Q1. Calculate the square of each element from the given tuple using the map function

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [2]:
number = (11, 21, 30, 34)

In [9]:
sq=print(list(map(lambda x:x*x, number)))

[121, 441, 900, 1156]

- Q2. Read the given sentence and print the length of each word in a sentence in a list using the map function

**Use the sentence given below :**

**sentence = 'Python for Data Science'**

In [10]:
sentence = 'Python for Data Science'

In [12]:
print(list(map(lambda x:len(x),sentence.split())))

[6, 3, 4, 7]

- Q3. Find the remainder of all the numbers present in a list after dividing by 5

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [13]:
numbers = [ 74, 85, 14, 23 ]

In [17]:
rem=map(lambda x: x%5,numbers)

In [18]:
print(list(rem))

[4, 0, 4, 3]

- Q4. Concatenate elements from the list1 with the corresponding element of list2

**Use the list given below:**

list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']

list2 = [11,22,33,44,55,66,77,88,99]

In [24]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

In [32]:
combine=[i+str(j) for i,j in zip(list1,list2)]

In [33]:
combine

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### Filter Function

- Q5. Find the common elements from the given array using filter method

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [45]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

In [53]:
a=[]
def find_common(arr1,arr2):
    for i in arr1:
        if i in arr2:
            a.append(i)
    return a

In [54]:
find_common(arr1,arr2)

['t', 't', 'o', 'i']

- Q6. Remove odd numbers from the given list

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [37]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [38]:
def odd(x):
    if x%2!=0:
        return x

In [39]:
print(list(filter(odd,numbers)))

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]